@import "/src/style/app.scss";
.listaccount{
    &__container{
        &--tool{
            margin-top: 16px;
            display: flex;
            margin-left: 24px;
        }
        &--content{
            display: flex;
            margin-top: 16px;
            margin-left: 24px;
            &-left{
                width: 1112px;
                height: 343px;
                background: rgb(255, 216, 144);
            }
        }
    }
}