@import "/src/style/app.scss";
.addservice{
    margin-left: 24px;
    margin-top: 16px;
    &__form{
        &--label{
            display: block;
            padding-top: 16px;
            margin-left: 24px;
            font-family: $font--family;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #FF7506;
        }
        &--panel{
            margin-top: 20px;
            margin-left: 24px;
            display: flex;
            z-index: 1;
            &-item{
                &-title{
                    display: flex;
                    height: 24px;
                    margin-bottom: 8px;
                    & p {
                        font-family: $font--family;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #282739;
                    }
                    & span{
                        margin-top: 5px;
                        margin-left: 4px;
                        font-size: 20px;
                        color: #FF4747;
                    }
                }
                &-input{
                    width: 553px;
                    height: 44px;
                    margin-right: 24px;
                    margin-bottom: 16px;
                    padding: 10px 12px 10px 12px;
                    background: #FFFFFF;
                    border: 1.5px solid #D4D4D7;
                    box-sizing: border-box;
                    border-radius: 8px;
                    font-family: $font--family;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    &:focus-visible{
                        outline: none;
                        border: 1.5px solid #FFAC6A;
                        box-sizing: border-box;
                        border-radius: 8px;
                    }
                    &-2{
                        resize: none;
                        padding: 10px 12px;
                        width: 553px;
                        height: 132px;
                        background: #FFFFFF;
                        border: 1.5px solid #D4D4D7;
                        box-sizing: border-box;
                        border-radius: 8px;
                        font-family: $font--family;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        &:focus-visible{
                            outline: none;
                            border: 1.5px solid #FFAC6A;
                            box-sizing: border-box;
                            border-radius: 8px;
                        }
                    }
                }
               
            }
        }
        &--service{
            margin-left: 24px;
            display: grid;
            width: 1104px;
            height: 234px;
            &-label{
                display: block;
                font-family: $font--family;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                color: #FF7506;
                margin-bottom: 12px;
            }
            &-checkbox{
                display: flex;
                align-items: center;
                height: 44px;
                margin-bottom: 12px;
                &-content{
                    display: flex;
                    align-items: center;
                    & p{
                        font-family: $font--family;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #282739;
                        margin: 0px 15px 0px 8px;
                        width: 120px;
                    }
                    &-input{
                        background: #FFFFFF;
                        border: 1.5px solid #D4D4D7;
                        box-sizing: border-box;
                        border-radius: 8px;
                        font-family: $font--family;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #535261;
                        padding: 10px 10px 10px 10px;
                        width: 61px;
                        height: 44px;
                    }
                    & span{
                        font-family: $font--family;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #282739;
                        margin: 0px 12px;
                    }
                }
                &-check{
                    & input{
                        width: 20px;
                    height: 20px;
                    }
                }
            }

        }
        &--note{
            margin-left: 24px;
            margin-top: 24px;
            display: flex;
            align-content: center;
            & span{
                color: #FF4747;
                margin-top: 5px;
                margin-right: 4px;
            }
            & p {
                font-family: $font--family;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #7E7D88;
            }
        }
        &--tool{
            margin-top: 24px;
            margin-left: 434px;
            display: flex;
            &-cancel{
                width: 147px;
                height: 48px;
                background: #FFF2E7;
                border: 1.5px solid #FF9138;
                box-sizing: border-box;
                box-shadow: 0px 0px 6px #E7E9F2;
                border-radius: 8px;
                font-family: $font--family;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #FF9138;
                cursor: pointer;
                &:hover{
                    color: #FF7506;
                    border: 1.5px solid  #FF7506;
                    background: #ffd5b2;
                }
            }
            &-add{
                margin-left: 32px;
                width: 147px;
                height: 48px;
                background: #FF9138;
                box-shadow: 0px 0px 6px #E7E9F2;
                border-radius: 8px;
                font-family: $font--family;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                border: none;
                cursor: pointer;
                &:hover{
                    background: #FF7506;
                }
            }
        }
    }
    &__container{
        width: 1178px;
        height: 550px;
        background: #FFFFFF;
        box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
        border-radius: 16px;
    }
}